<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Entice Restful Web Application</display-name>
    <listener>
        <listener-class>org.fri.entice.webapp.rest.AppContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <async-supported>true</async-supported>

        <Context>
            <Environment name="configurationPath" value="D://projects//lpt//entice-ul-api//target//db.properties" type="java.lang.String"/>
        </Context>

        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <!--<param-value>org.fri.entice.webapp.rest</param-value>-->
            <param-value>com.myorg.myproj.api,org.codehaus.jackson.jaxrs</param-value>
        </init-param>

        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
        </init-param>

        <!--UNCOMMENT TO ENABLE APACHE SHIRO-->
        <!--<init-param>-->
            <!--<param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>-->
            <!--<param-value>org.secnod.shiro.jersey.ShiroResourceFilterFactory</param-value>-->
        <!--</init-param>-->

        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.fri.entice.webapp.rest.ExampleApplication</param-value>
        </init-param>

        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- You need to define another servlet element to enable multiple services. -->

    <!--UNCOMMENT TO ENABLE APACHE SHIRO-->
    <!--<context-param>-->
        <!--<param-name>shiroConfigLocations</param-name>-->
        <!--<param-value>classpath:shiro.ini</param-value>-->
    <!--</context-param>-->

    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <!--UNCOMMENT TO ENABLE APACHE SHIRO-->
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>

    <!--UNCOMMENT TO ENABLE APACHE SHIRO-->
    <!--<filter>-->
    <!--<filter-name>ShiroFilter</filter-name>-->
    <!--<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>-->
    <!--</filter>-->

    <!--UNCOMMENT TO ENABLE APACHE SHIRO-->
    <!--<filter-mapping>-->
    <!--<filter-name>ShiroFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--<dispatcher>REQUEST</dispatcher>-->
    <!--<dispatcher>FORWARD</dispatcher>-->
    <!--<dispatcher>INCLUDE</dispatcher>-->
    <!--<dispatcher>ERROR</dispatcher>-->
    <!--</filter-mapping>-->

</web-app>